<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Términos y Condiciones - Alquiler de Vehículos Pamplona</title>
    <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    crossorigin="anonymous">
  </head>
  </head>
  <body>
    <h1>Términos y Condiciones - Alquiler de Vehículos Pamplona</h1>
    <p>Al acceder y utilizar los servicios ofrecidos por Alquiler de Vehículos Pamplona, el usuario acepta los
      siguientes términos y condiciones:</p>
    <ol>
      <li>El usuario debe tener al menos 21 años y poseer un permiso de conducir válido para poder
        alquilar un vehículo.</li>
      <li>El usuario es responsable de devolver el vehículo en las mismas condiciones en las que lo recibió,
        y en el plazo acordado en el contrato de alquiler.</li>
      <li>Alquiler de Vehículos Pamplona se reserva el derecho a rechazar cualquier solicitud de alquiler
        sin necesidad de dar explicaciones.</li>
      <li>El usuario es responsable de los daños y perjuicios que pueda causar durante el uso del
        vehículo alquilado.</li>
      <li>Alquiler de Vehículos Pamplona se reserva el derecho de modificar estos términos y condiciones
        en cualquier momento, sin necesidad de previo aviso.</li>
      <li>Cualquier disputa relacionada con el uso de los servicios de Alquiler de Vehículos Pamplona
        será resuelta por los tribunales competentes en Pamplona, España.</li>
    </ol>
    <p>Al utilizar los servicios de Alquiler de Vehículos Pamplona, el usuario acepta estos términos y
      condiciones en su totalidad.
        Si el usuario no está de acuerdo con estos términos y condiciones, 
        no debe utilizar los servicios ofrecidos por Alquiler de Vehículos Pamplona.</p>
        <a href="register.php"><button type="button" 
          class="btn btn-primary btn-lg">Volver</button>
        </a>
  </body>
</html>
